{% extends 'base.html' %} {% block content %}

<h2>{{question.question}}</h2>

<form class = 'center' action="{% url 'vote' question.id %}" method="post">
    {% csrf_token %}
    <!-- <hr /> -->
    <p>
        <label>
          <input name="group1" type="radio" id='choice1' value='choice1'/>
          <span>{{question.option_one}}</span>
        </label>
    </p>

    <p>
        <label>
          <input name="group1" type="radio" id='choice2' value='choice2'/>
          <span>{{question.option_two}}</span>
        </label>
    </p>
    


    <input type="submit" class='btn' value="vote">
</form>



{% endblock %}